<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Discografia | blink-182 Argentina</title>
	<link rel="stylesheet" href="../assets/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>	
	<header>
		<div id="header">
			<img id="logoHeader" src="../img/logo.png" alt="logo blink-182 Argentina">Discografia
		</div>
	<div id="menuSuperior">
	<ul>
		<li><a href="../index.html"><div class="menuTexto">Inicio</div></a></li>
		<li><a href="../views/integrantes.html"><div class="menuTexto">Integrantes</div></a></li>
		<li><a href="../views/historia.html"><div class="menuTexto">Historia</div></a></li>
		<li><a href="../views/discografia.html"><div class="menuTexto">Discografia</div></a></li>
		<li><a href="#"><div class="menuTexto">Bandas/proyectos alternativos</div></a>
			<ul>
				<li><a href="../views/plus44.html"><div class="menuTexto">+44</div></a></li>
				<li><a href="../views/angelsandairwaves.html"><div class="menuTexto">Angels and Airwaves</div></a></li>
				<li><a href="../views/boxcarracer.html"><div class="menuTexto">Boxcar Racer</div></a></li>
				<li><a href="../views/simplecreatures.html"><div class="menuTexto">Simple Creatures</div></a></li>
				<li><a href="../views/transplants.html"><div class="menuTexto">The Transplants</div></a></li>
			</ul>
		</li>
		<li><a href="../views/contacto.html"><div class="menuTexto">Contacto</a></div></li>
	</ul>
	</div>
	</header>
	<br>
	<div class="centrar">
	<table border="2.5 px">
		<!-- COMPLETAR DISCOGRAFIA-->
		<tr>
			<th><b>Nombre del disco</b></th>
			<th><b>Fecha de publicacion</b></th>
			<th><b>Canciones</b></th>
		</tr>
		<tr>
			<td class="nombreDisco">
				NINE
				<br>
				<img src="../img/nine.png" alt="Portada de NINE" height="75%" width="75%">
			</td>
			<td class="fechaDisco">20/09/2019</td>
			<td class="cancionesDisco">
				<ol>
					<li>The First Time</li>
					<li>Happy Days</li>
					<li>Heaven</li>
					<li>Darkside</li>
					<li>Blame It on My Youth</li>
					<li>Generational Divide</li>
					<li>Run Away</li>
					<li>Black Rain</li>
					<li>I Really With I Hated You</li>
					<li>Pin the Granade</li>
					<li>No Heart to Speak Of</li>
					<li>Ransom</li>
					<li>On Some Emo Shit</li>
					<li>Hungover You</li>
					<li>Remember to Forget Me </li>
				</ol>
			</td>
		</tr>
		<tr>
			<td class="nombreDisco">
			California
			<br>
			<img src="../img/california.jpg" alt="Portada de California" height="75%" width="75%">
			</td>
			<td class="fechaDisco">01/07/2016</td>
			<td class="cancionesDisco">
				<ol>
					<li>Cynical</li>
					<li>Bored to Death</li>
					<li>She's Out of Her Mind</li>
					<li>Los Angeles</li>
					<li>Sober</li>
					<li>Built This Pool</li>
					<li>No Future</li>
					<li>Home Is Such a Lonely Place</li>
					<li>Kings of the Weekend</li>
					<li>Teenage Satellites</li>
					<li>Left Alone</li>
					<li>Rabbit Hole</li>
					<li>San Diego</li>
					<li>The Only Thing That Matters</li>
					<li>California</li>
					<li>Brohemian Rhapsody</li>
				</ol>
			</td>
		</tr>
	</table>
	</div>
</body>
</html>