<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Historia | blink-182 Argentina</title>
		<!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
	    <div class="page-header">
	        <h1><img class="logoHeader" src="../img/logo.png" alt="logo blink-182 Argentina">Historia</h1>
	    </div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
		  <a class="navbar-brand" href="#"><!--//Poner logo en miniatura en BRAND?// *REVISAR*--></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active"><a class="nav-link" href="../index.html">Inicio</a></li>
		      <li class="nav-item"><a class="nav-link" href="../views/integrantes.html">Integrantes</a></li>
		      <li class="nav-item"><a class="nav-link" href="#">Historia<span class="sr-only">(current)</span></a></li>
		      <li class="nav-item"><a class="nav-link" href="../views/discografia.html">Discografia</a></li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Bandas/Proyectos alternativos
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="../views/angelsandairwaves.html">Angels and Airwaves</a>
		          <a class="dropdown-item" href="../views/boxcarracer.html">Boxcar Racer</a>
		          <a class="dropdown-item" href="../views/simplecreatures.html">Simple Creatures</a>
		          <a class="dropdown-item" href="../views/transplants.html">The Transplants</a>
		          <a class="dropdown-item" href="../views/plus44.html">+44</a>
		        </div>
		      </li>
		      <li class="nav-item"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	<h2>Historia de la banda:</h2>
	<p>Blink-182 (frecuentemente estilizado blink-182) es una banda californiana de pop punk,​ formada el 2 de agosto de
	1992 por Tom DeLonge (quien más tarde, en 2015, sería sustituido por Matt Skiba), Mark Hoppus, y Scott Raynor (quien en
	1998 sería sustituido por Travis Barker) en Poway, California. Son considerados como pioneros del pop punk y como una de
	las bandas que contribuyó a su éxito masivo internacional a finales de los 1990 y principios de los 2000. <br>
	Poco tiempo después de lanzar su primer álbum de estudio en 1995, Cheshire Cat, seria su primer disco oficial ya que
	antes habían grabado 3 demos, entre ellos Buddha, el cual incluiría uno de sus más grandes éxitos Carousel, la entonces
	banda llamada «Blink» tuvo que añadir el número «-182» a su nombre debido a que una banda techno irlandesa ya se llamaba
	«Blink» y amenazó con emprender acciones legales, el 182 lo eligió Mark Hoppus debido a que estaba hablando por teléfono
	y fue lo primero que se le ocurrió. Tras el primer éxito de Blink-182 con Dude Ranch, de 1997, su segundo álbum de
	estudio, DeLonge y Hoppus decidieron expulsar a su baterista original, Scott Raynor. Las razones de su despido nunca han
	sido aclaradas oficialmente por los dos primeros, aunque Raynor aseguró en varias entrevistas que fue culpa de su
	alcoholismo. Travis Barker, baterista entonces de The Aquabats, reemplazó a Raynor y con él la banda logró acceder al
	mainstream y al éxito mundial con las superventas de Enema of the State, lanzado en 1999 por MCA Records. Este éxito
	continuó con su álbum en vivo The Mark, Tom and Travis Show (The Enema Strikes Back) de noviembre de 2000, y con Take
	off your pants and jacket de junio de 2001. A finales del 2003, tras varios ensayos con bandas paralelas y rumores sobre
	su separación, lanzaron lo que fue en ese momento su último álbum de estudio, que no fue titulado. Apenas dos años
	después, en 2005, la banda hizo oficial su separación y surgieron, a su vez, dos grupos de esta ruptura: Angels and
	Airwaves liderado por DeLonge, y +44 con Hoppus y Barker.<br>
	La banda es conocida por su humor satírico y escatológico (conocido en inglés como toilet humor). El lanzamiento de su
	primer álbum en 1995, Cheshire Cat, coincidió con el éxito del resurgimiento punk rock californiano y del lanzamiento en
	ese mismo año de discos clásicos del punk rock de la costa oeste como Dookie, de Green Day; Smash, de The Offspring y
	Punk in Drublic, de NOFX. Las influencias de la banda, según los propios Hoppus y DeLonge fueron NOFX, The Cure,
	Dinosaur Jr., The Descendents y Screeching Weasel.​ Con la llegada de Barker a la batería, la banda alcanzó una lírica
	y un sonido musical más maduro, como se demostró en uno de los proyectos paralelos de DeLonge y Barker, Box Car Racer.<br>
	La banda ha vendido 40 millones de discos en todo el mundo y 13 millones solo en Estados Unidos. El 5 de febrero de 2009
	se anunció que el trío presentaría un premio en los Grammy, siendo esta la primera vez en 5 años que la banda se
	presenta en un escenario.​ El 8 de febrero, siendo presentadores del premio a mejor banda de rock, anunciaron su
	regreso. El 27 de septiembre de 2011 lanzaron su sexto álbum de estudio, Neighborhoods. Cinco años después, en julio de
	2016, publican California, su primer trabajo tras la marcha de Tom Delonge en 2015 y la incorporación de Matt Skiba,
	donde intentan recuperar su esencia adaptada a los nuevos tiempos. El 20 de septiembre de 2019 publican su último álbum
	de estudio, Nine.</p>
 	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>