<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Integrantes | blink-182 Argentina</title>
		<!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
	    <div class="page-header">
	        <h1><img class="logoHeader" src="../img/logo.png" alt="logo blink-182 Argentina">Integrantes</h1>
	    </div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
		  <a class="navbar-brand" href="#"><!--//Poner logo en miniatura en BRAND?// *REVISAR*--></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active"><a class="nav-link" href="../index.html">Inicio</a></li>
		      <li class="nav-item"><a class="nav-link" href="#">Integrantes<span class="sr-only">(current)</span></a></li>
		      <li class="nav-item"><a class="nav-link" href="../views/historia.html">Historia</a></li>
		      <li class="nav-item"><a class="nav-link" href="../views/discografia.html">Discografia</a></li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Bandas/Proyectos alternativos
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="../views/angelsandairwaves.html">Angels and Airwaves</a>
		          <a class="dropdown-item" href="../views/boxcarracer.html">Boxcar Racer</a>
		          <a class="dropdown-item" href="../views/simplecreatures.html">Simple Creatures</a>
		          <a class="dropdown-item" href="../views/transplants.html">The Transplants</a>
		          <a class="dropdown-item" href="../views/plus44.html">+44</a>
		        </div>
		      </li>
		      <li class="nav-item"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	<h1>Integrantes actuales:</h1>
	<ul>
		<li class="iconoLista">Mark Hoppus:</li>
			<ul>
				<li><span>▪</span>Nombre de nacimiento: Mark Allan Hoppus</li>
				<li><span>▪</span>Fecha de nacimiento: 15/03/1972</li>
				<li><span>▪</span>Instrumento: Bajo / voces</li>
				<li><span>▪</span>Periodo activo en la banda: 1992–2005; 2009–present</li>
				<li><span>▪</span>Sobre el: Mark es un músico estadounidense, productor discográfico, conductor televisivo, diseñador de modas y modelo. Es el bajista y
				uno de los dos vocalistas de la banda Blink-182, y también bajista y vocalista principal de la banda de rock alternativo
				+44. Es el cofundador de ambas bandas. Ha producido álbumes para bandas reconocidas como Idiot Pilot, New Found Glory y
				the Matches. Estrenó su propio programa de televisión el 16 de septiembre de 2010, Hoppus on Music, en el canal FuseTV.</li>
			</ul>
	</ul>
	<ul>
		<li class="iconoLista">Travis Barker:</li>
			<ul>
				<li><span>▪</span>Nombre de nacimiento: Travis Landon Barker</li>
				<li><span>▪</span>Fecha de nacimiento: 14/11/1975</li>
				<li><span>▪</span>Instrumento: Bateria</li>
				<li><span>▪</span>Periodo activo en la banda: 1998–2005; 2009–present</li>
				<li><span>▪</span>Sobre el: Travis es un baterista de punk rock estadounidense,
				actualmente miembro de blink-182 y The Transplants. También fue miembro de grupos como Feeble, The Suicide Machines, The
				Aquabats, Box Car Racer, Expensive Taste y +44. Empezó a tocar la batería a la edad de 5 años y estudió música con un
				profesor de Jazz. Travis ha tenido influencias de la música punk, metal, jazz y hip-hop.</li>
			</ul>
	</ul>
	<ul>
		<li class="iconoLista">Matt Skiba:</li>
			<ul>
				<li><span>▪</span>Nombre de nacimiento: Matthew Thomas Skiba</li>
				<li><span>▪</span>Fecha de nacimiento: 24/02/1976</li>
				<li><span>▪</span>Instrumento: Guitarra / voces</li>
				<li><span>▪</span>Periodo activo en la banda: 2015–present</li>
				<li><span>▪</span>Sobre el: Matt es conocido por ser el cantante y guitarrista principal de Alkaline Trio. En 2006 creó un proyecto paralelo a Alkaline,
				llamado Heavens. En 2011 forma Matt Skiba and the Sekrets junto a Hunter Burgan de AFI y Jarrod Alexander de My Chemical
				Romance. Actualmente es guitarrista y cantante de la banda blink-182.</li>
			</ul>
	</ul>
	<h1>Ex integrantes:</h1>
	<ul>
		<li class="iconoLista">Tom DeLonge:</li>
			<ul>
				<li><span>▪</span>Nombre de nacimiento: Thomas Matthew DeLonge</li>
				<li><span>▪</span>Fecha de nacimiento: 13/12/1975</li>
				<li><span>▪</span>Instrumento: Guitarra / voces</li>
				<li><span>▪</span>Periodo activo en la banda: 1992–2005; 2009–2015</li>
				<li><span>▪</span>Sobre el: Tom es un músico, compositor y empresario estadounidense, conocido por ser el exvocalista y guitarrista en la popular banda
				de pop punk, Blink 182 y Box Car Racer y actualmente, en la banda de rock alternativo, Angels & Airwaves.</li>
			</ul>
	</ul>
	<ul>
		<li class="iconoLista">Scott Raynor:</li>
			<ul>
				<li><span>▪</span>Nombre de nacimiento: Scott William Raynor, Jr.</li>
				<li><span>▪</span>Fecha de nacimiento: 23/05/1978</li>
				<li><span>▪</span>Instrumento: </li>
				<li><span>▪</span>Periodo activo en la banda: 1992-1998</li>
				<li><span>▪</span>Sobre el: Scott es un baterista de punk rock estadounidense, Es principalmente conocido por haber sido el primer baterista de blink-182
				hasta 1998. Año en el que fue remplazado por Travis Barker debido a que Mark Hoppus y Tom DeLonge lo expulsaron por
				problemas de alcoholismo. </li>
			</ul>
	</ul>
	<h1>Antiguos músicos de gira:</h1>
	<ul>
		<li class="iconoLista">Josh Freese:</li>
			<ul>
				<li><span>▪</span>Nombre de nacimiento: John Freese</li>
				<li><span>▪</span>Fecha de nacimiento: 25/12/1972</li>
				<li><span>▪</span>Instrumento: Bateria</li>
				<li><span>▪</span>Periodo activo en la banda: 1991-1991 (1 fecha)</li>
				<li><span>▪</span>Sobre el: Josh participo de una unica fecha en 1999 durante el Warped Tour. Travis Barker por una 
				razon desconocida no pudo presentarse en Nueva York y fue remplazado por Damon (Fenix TX) Brooks (Suicidal/Bad Religion)
				Josh (the Vandals) y Byron (Pennywise). El es un baterista de sesión y compositor 
				estadounidense. Es miembro permanente de The Vandals y Devo. También fue el	baterista de Nine Inch Nails (desde finales 
				de 2005 hasta finales de 2008), A Perfect Circle (desde 1999 hasta 2012), y	de Guns N' Roses (desde mediados de 1998 
				hasta 2001). Además, desde el 2003, se ha convertido en el baterista de estudio	de The Offspring. En total, Freese ha
				aparecido en aproximadamente 400 grabaciones. En diciembre de 2010, Josh comenzó a viajar con Paramore en su gira 
				sudamericana, reemplazando temporalmente al baterista Zac Farro. En la actualidad, está	de gira con Devo,
				The Vandals y Sublime with Rome.</li>
			</ul>
	</ul>
	<ul>
		<li class="iconoLista">Damon DeLaPaz:</li>
		<ul>
			<li><span>▪</span>Nombre de nacimiento: 22/07/1974</li>
			<li><span>▪</span>Fecha de nacimiento: </li>
			<li><span>▪</span>Instrumento: Bateria</li>
			<li><span>▪</span>Periodo activo en la banda: 1991-1991 (1 fecha)</li>
			<li><span>▪</span>Sobre el: Damon participo de una unica fecha en 1999 durante el Warped Tour. Travis
				Barker por una razon desconocida no pudo presentarse en Nueva York y fue remplazado por Damon (Fenix TX),
				Brooks (Suicidal/Bad Religion) Josh (the Vandals) y Byron (Pennywise). Fue miembro fundador de los grupos de punk rock Fenix TX, 30footFALL,
				Demasiado y Sing The Body Electric. También ha grabado un proyecto solista instrumental llamado Sci-Fi / Horror. DeLaPaz
				ha grabado, interpretado y realizado giras con una variedad de bandas diferentes y también ha realizado giras como
				baterista para Blink-182, The Vandals, Good Charlotte, Pulley, Home Grown, Ape Machine, Trash Talk (banda) y The Last Internationale.</li>
		</ul>
	</ul>
	<ul>
		<li class="iconoLista">Byron McMackin:</li>
		<ul>
			<li><span>▪</span>Nombre de nacimiento: Byron McMackin</li>
			<li><span>▪</span>Fecha de nacimiento: 30/12/1969</li>
			<li><span>▪</span>Instrumento: Bateria</li>
			<li><span>▪</span>Periodo activo en la banda: 1991-1991 (1 fecha)</li>
			<li><span>▪</span>Sobre el: Byron participo de una unica fecha en 1999 durante el Warped Tour. Travis
				Barker por una razon desconocida no pudo presentarse en Nueva York y fue remplazado por Damon (Fenix TX),
				Brooks (Suicidal/Bad Religion) Josh (the Vandals) y Byron (Pennywise). El es el batería original de la banda de punk rock Pennywise.</li>
		</ul>
	</ul>
	<ul>
		<li class="iconoLista">Brooks Wackerman:</li>
		<ul>
			<li><span>▪</span>Nombre de nacimiento: Brooks Wackeran</li>
			<li><span>▪</span>Fecha de nacimiento: 15/02/1977</li>
			<li><span>▪</span>Instrumento: Bateria</li>
			<li><span>▪</span>Periodo activo en la banda: 1991-1991 (1 fecha); 2013-2013 (Durante las 9 fechas del Tour en Australia)</li>
			<li><span>▪</span>Sobre el: Brooks participo de una unica fecha en 1999 durante el Warped Tour. Travis
				Barker por una razon desconocida no pudo presentarse en Nueva York y fue remplazado por Damon (Fenix TX),
				Brooks (Suicidal/Bad Religion) Josh (the Vandals) y Byron (Pennywise). En 2013 volvio a remplazar a Travis durante toda la gira
				realizada por Australia. Actualmente forma parte de la banda de heavy metal Avenged Sevenfold y ha estado a lo largo de su carrera en bandas como Bad
				Religion, Tenacious D, Infectious Grooves, Blink-182 y Suicidal Tendencies.</li>
		</ul>
	</ul>
 	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>